# Ignore Gradle project-specific cache directory
model/.gradle
event/.gradle
read/.gradle
write/.gradle

# Ignore Gradle build output directory
build
model/build
event/build
read/build
write/build

# Ignore intellij files
.idea
model/.idea
event/.idea
read/.idea
write/.idea

# ignore storage files
.DS_Store